.moveButton {
  margin-top: 1%;
  margin-right: 25%;
  margin-left: 25%;
  text-align: right;
}

.articleList {
  margin: auto 0;
  margin-top: 1%;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
}
