.backButtonPA {
  width: 50%;
  margin: 0 auto;
  margin-top: 1%;
  text-align: right;
}

.titlePA {
  width: 50%;
  margin: 0 auto;
  margin-top: 1%;
}

.descriptionPA {
  width: 50%;
  margin: 0 auto;
  margin-top: 1%;
}

.settingFile {
  width: 50%;
  margin: 0 auto;
  margin-top: 1%;
}

.filename {
  width: 50%;
  margin: 0 auto;
  margin-top: 1%;
}

.submitButton {
  width: 50%;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: right;
}
